<ion-header>
  <ion-toolbar>
    <ion-title>Le Bateau de Tibault</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header></app-header>

  <img src="../../assets/TIG2x.png">
  <br>
  <p>06.63.99.99.78 <br> lebateaudetibault@gmail.com <br> www.facebook.com/lebateaudetibault </p> <br>
<p>
  Qu'il est chaud le soleil <br> Quand nous sommes en vacances <br> Y a d' la joie, des hirondelles <br> C'est le sud de la France <br> Papa bricole au garage <br> Maman lit dans la chaise longue <br> Dans ce joli paysage <br> Moi, je me balade en tongs <br> Que de bonheur ! 
</p>
</ion-content>
