<app-header></app-header>

<ion-content>
  <div>
    <app-button [name]="'De la Brise'" [img]="'../../assets/deLaBrise_icon.png'" [link]="'/bateaux'"
      [data]="'De la Brise'"></app-button>
    <app-button [name]="'Saphir'" [img]="'../../assets/saphir_icon.png'" [link]="'/bateaux'"
      [data]="'Saphir'"></app-button>
    <app-button [name]="'Gast Micher'" [img]="'../../assets/gastMicher_icon.png'" [link]="'/bateaux'"
      [data]="'Gast Micher'"></app-button>
    <app-button [name]="'Aquilon'" [img]="'../../assets/aquilon_icon.png'" [link]="'/bateaux'"
      [data]="'Aquilon'"></app-button>

  </div>
</ion-content>
