<app-header></app-header>

<ion-content>

  <div>

    <app-button [name]="'Poissons'" [img]="'../../assets/poulpe.png'" [link]="'/products'"
      [data]="0"></app-button>
    <app-button [name]="'Coquillages'" [img]="'../../assets/poulpe.png'" [link]="'/products'"
      [data]="1"></app-button>
    <app-button [name]="'Crustacés'" [img]="'../../assets/poulpe.png'" [link]="'/products'"
      [data]="2"></app-button>
    <app-button [name]="'Promotions'" [img]="'../../assets/poulpe.png'" [link]="'/products'"
      [data]="3"></app-button>

  </div>

</ion-content>