<ion-header>
  <ion-toolbar>
    <ion-title>recetteCategory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-header></app-header>

  <div>
    <app-button [name]="'Homard'" [img]="'../../assets/homardRecette_icon.png'" [link]="'/recettes'"
      [data]="'Homard en chaud-froid'"></app-button>
    <app-button [name]="'St Jacques'" [img]="'../../assets/saintJacques_icon.png'" [link]="'/recettes'"
      [data]="'Noix de Saint-Jacques Flambées au cognac'"></app-button>
    <app-button [name]="'Bar'" [img]="'../../assets/barRecette_icon.png'" [link]="'/recettes'"
      [data]="'Bar rôti au laurier frais'"></app-button>
    <app-button [name]="'Tourteau'" [img]="'../../assets/tourteau.png'" [link]="'/recettes'"
      [data]="'Tourteau linguine'"></app-button>

  </div>
</ion-content>

